{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <form method="get" action="{{ path('index') }}"
                          class="js-date-form"
                          data-action="{{ path('dates') }}"
                          data-photos-action="{{ path('datePhotos') }}">
                        <input type="hidden" name="js" value="{{ hasJs }}" />
                        <div class="form-group">
                            <label for="year">Choose the earliest year:</label>
                            <select id="year" name="year" class="form-control js-year">
                                {% for year in range(date()|date('Y') - max_years_ago, date()|date('Y') - 1)|reverse %}
                                    <option value="{{ year }}"{% if selectedYear == year %} selected{% endif %}>
                                        {{ year }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <p><small>Privacy policy: nothing is saved on the server except for error logs.</small></p>
                        <button type="submit" class="btn btn-primary">Continue</button>
                    </form>
                </div>
                <div class="card-footer">
                    <a href="{{ path('logout') }}" class="btn btn-secondary">Log out</a>
                </div>
            </div>
        </div>
    </div>

    <div class="js-allphotos-container"></div>

    {% if selectedYear %}
        {% for year, yearPhotos in photos %}
            <div class="row">
                <div class="col">
                    <div class="card year-card">
                        <div class="card-header">{{ year }}</div>
                        <div class="card-body">
                            <div class="grid">
                                <div class="grid-sizer col-4"></div>
                                {% for photo in yearPhotos %}
                                    <div class="grid-item col-4">
                                        <div class="grid-item-content">
                                            <a href="{{ photo.link }}"
                                               title="{{ photo.datetime|date('d.m.Y H:i:s') }} {{ photo.title }}">
                                                <img src="{{ photo.image }}" class="img-fluid" />
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <br/><br/>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="js-template-year d-none">
        <div class="row">
            <div class="col">
                <div class="card year-card">
                    <div class="card-header">%date%</div>
                    <div class="card-body">
                        <div class="grid" data-date="%date%">
                            <div class="grid-sizer col-4"></div>
                            %photoHtml%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="js-template-grid-item d-none">
        <div class="grid-item col-4">
            <div class="grid-item-content">
                <a href="%link%" title="%title%">
                    <img src="%image%" class="img-fluid" />
                </a>
            </div>
        </div>
    </div>

    <div class="js-loading-progress" style="display:none">
        <div class="row">
            <div class="col">
                <div class="card year-card">
                    <div class="card-body">
                        <!-- message will go here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}